@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: white;
  overflow-y: auto;
}
.albumcard {
  cursor: pointer;
  /* display: flex; */
  width: 300px;
}

.albumcard:hover {
  border: 1px solid #3f3f3f; /* Example border style and color */
  /* background-color: #3f3f3f; */ /* Uncomment this line if you want to change background color */
}
.container{
  display: flex;
  gap:50px;
  overflow-y: auto;
  flex-wrap: wrap;
}

